use_minishift-docker(){
  local env=${1:-default}
  echo Minishift: $env
  local machine_cmd=$(minishift docker-env --shell bash $env)

  eval $(minishift docker-env --shell bash $env)
}

export KO_DOCKER_REPO=ko.local
use minishift-docker
